body {
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.calculator {
    background: #1f1f2e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #33334d;
    color: white;
}

button:hover {
    background: #55557a;
}

.equal {
    background: #00b894;
}

.clear {
    background: #d63031;
}